.ModalContent{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.Stat_Wrapper{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    /* flex-wrap: wrap; */
}

.Total_Time , .TimeList_Wrapper{
    flex-basis: 200px;
    flex-grow: 1;
}

.Total_Time{
    background-color: #ffa500;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

.Time_Wrapper{
    flex-grow: 1;
    height: 100%;
}

.TimeList_Wrapper{
    height: max-content;
    max-height: 50vh;
    overflow-y: scroll;
}

.Total_Time_Hour{
    width: 50%;
    aspect-ratio: 1;
    background: #e69500;
    border-radius: 50%;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

.ModalContent_list_item{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 10px 0;
}

.Message , .Your_Result{
    color: rgba(245, 245, 245, 0.873);
    font-size: 0.8rem;
    line-height: 20px;
}

.ModalContent_list_item h5{
    margin: 10px 0 ;
}

.Start_Time h5{
    color: hwb(120 11% 0%);
    font-weight: 900;
}

.Stop_Time h5{
    color: red;
}

.Time{
    color: skyblue;
}